@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 100%);
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 15px;
  padding: 5rem 0;
  font-family: "League Spartan", sans-serif;
}

main {
  width: 90%;
  max-width: 425px;
}

.bg {
  position: absolute;
  width: 100%;
  pointer-events: none;
}
.bg-top {
  top: 0;
  left: 0;
}
.bg-bottom {
  bottom: 0;
  right: 0;
}

#header,
#ratings {
  text-align: center;
}

h1 {
  color: hsl(300, 43%, 22%);
  width: 80%;
  margin: auto;
  font-weight: 700;
  font-size: 2.5rem;
}

#satisfaction-summary {
  margin: 1rem 0 2rem 0;
  color: hsl(303, 10%, 53%);
  font-weight: 500;
  line-height: 1.5rem;
  font-size: 1.2rem;
}

#ratings {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;
}
#ratings div {
  background-color: hsl(300, 24%, 96%);
  padding: 1rem;
  border-radius: 0.5rem;
}
#ratings div p {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  color: hsl(300, 43%, 22%);
  font-size: 1rem;
  margin-top: 0.8rem;
}

#proofs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.proof-content {
  background-color: hsl(300, 43%, 22%);
  color: hsl(0, 0%, 100%);
  padding: 1.8rem;
  border-radius: 0.5rem;
}
.proof-content div {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 2rem;
  line-height: 1.2rem;
}
.proof-content div img {
  border-radius: 50%;
  width: 2.5rem;
}
.proof-content div span {
  color: hsl(333, 80%, 67%);
  font-weight: 500;
}

.testimonial {
  line-height: 1.5rem;
  font-weight: 400;
  font-size: 1.11rem;
}

@media (min-width: 769px) {
  body {
    height: 100vh;
    padding: 0;
    align-items: center;
  }
  main {
    max-width: none;
    max-height: 90%;
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "header ratings" "proofs proofs";
  }
  .bg-top {
    width: 45vw;
  }
  .bg-bottom {
    width: 75vw;
  }
  #header {
    grid-area: header;
    text-align: start;
  }
  h1 {
    margin: 0;
    font-size: 3rem;
  }
  #ratings {
    grid-area: ratings;
    margin-bottom: 0;
    justify-content: center;
    align-items: end;
  }
  #ratings div {
    width: 75%;
    max-width: 400px;
    height: 3rem;
    display: flex;
    align-items: center;
  }
  #ratings div:nth-child(1) {
    margin-right: 10rem;
  }
  #ratings div:nth-child(2) {
    margin-right: 5rem;
  }
  #ratings div img {
    width: 0.8rem;
    height: 1rem;
    margin-right: 0.5rem;
  }
  #ratings div p {
    margin-top: 0;
    margin-left: 1.5rem;
  }
  #proofs {
    grid-area: proofs;
    flex-direction: row;
  }
  #proofs div:nth-child(2) {
    margin-top: 1rem;
  }
  #proofs div:nth-child(3) {
    margin-top: 2rem;
  }
  .proof-content {
    height: 90%;
  }
}

/*# sourceMappingURL=styles.css.map */
